'atom-text-editor:not(.mini)':
  'alt-up': 'inc-dec:inc'
  'alt-down': 'inc-dec:dec'
  # 'alt-up': 'emmet:increment-number-by-01'
  # 'alt-down': 'emmet:decrement-number-by-01'
  # 'ctrl-up': 'emmet:increment-number-by-1'
  # 'ctrl-down': 'emmet:decrement-number-by-1'
  # 'alt-shift-up': 'emmet:increment-number-by-10'
  # 'alt-shift-down': 'emmet:decrement-number-by-10'
